{{$rTotal := len .Records }}
{{$rCounter := 0}}
[
{{range $index, $record := .Records}}
	{{$rCounter = counter $rCounter}}

	{{$obj := $record }}
	{{$counter := 0}}
	{{$total := len $obj}}
	{
		{{ range $key, $value := $obj }}
			{{$counter = counter $counter}}
			{{ if ne $key "_id" }}
				{{ if eq "string" ( printf "%T" $value ) }}
					"{{ $key }}": "{{ $value }}"
				{{ else if eq "float64" ( printf "%T" $value ) }}
					"{{ $key }}": {{ printf "%f" $value }}
				{{ else if eq "int64" ( printf "%T" $value ) }}
					"{{ $key }}": {{ $value }}
				{{ else if eq "<nil>" ( printf "%T" $value ) }}
					"{{ $key }}": null
				{{ else }}
					"{{ $key }}": "{{ $value }}"
				{{ end }}
				{{ if ne $counter $total }},{{ end }}
			{{- end }}
		{{- end }}
	}

	{{ if ne $rCounter $rTotal }},{{ end }}
{{end}}
]
